<h1 class="pageHeader">Chroniclix Series</h1>

<ul>
    <% for (let i =0; i <series.length; i++) { %>
    <li>
     <div class="card-panel red lighten-4">
         <a id="link" href="/series/<%=series[i]._id%>">
              <h4><%=series[i].name%></h4></a> 
              <h6>Created By:<%=series[i].creator%></h6>
              <br>
         <a id="link" href='/series/<%=series[i]._id%>/edit' id="edit">EDIT</a>
         </div>
    </li>    
<% } %>
</ul>
</br>
<a href="/series/newseries" id="createNew">Create A New Series</a>
