<%- include ('../partials/nav.ejs') %>
<% if (currentUser) { %>
<h1>Create a New Series</h1>
    <button class="btn btn-primary" onclick="goBack()">Back to Series</button>
  </br></br>
    <form action="/series" method="POST">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" />
      </div>
      <div class="form-group">
        <label for="creator">Creator</label>
        <input type="text" class="form-control" id="creator" name="creator" value="<%=currentUser.username%>"/>
      </div>
      <div class="form-group">
        <label for="description">Series Description</label>
        <input type="text" class="form-control" id="description" name="description" />
      </div>
      <div class="form-group">
        <label for="genre">Genre</label>
        <input type="text" class="form-control" id="genre" name="genre" />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <% } else { %>
  
      <div class="card-panel teal lighten-2"><h1>YOU MUST LOG IN TO CREATE A SERIES</h1></div>
    <% } %>  
<script>
        function goBack() {
          window.history.back();
        }
        </script>
      
