<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Chronoclix</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/series/">All Series</a></li>
        <% if (currentUser) { %>
          <li id="welcome-user">Welcome <%= currentUser.username %>!</li>
          <li>
            <form action="/sessions?_method=DELETE" method="POST">
              <input type="submit" value="Log Out" class="btn-small red" id="logout"/>
            </form>
          </li>
          <% } else { %>
        <li><a href="/sessions/new">Log In</a></li>
        <li><a href="/users/new">Sign Up</a></li>
      </ul>
    </div>
  <% } %>
</nav> 
        
  