<div id="welcome-container">
<h1>Welcome to Chroniclix</h1>
<p>Chroniclix is a place for writers to create series that houses their short stroies. Sign up to create a series!</p>
</br>
<div class="row">
    <div class="col s12"><a class="welcome-links" href="/sessions/new">Log In</a><a class="welcome-links" href="/users/new">Sign Up</a></div>
</div>
<a class="nav-link" href="/series/">Continue to Series As a Guest</a>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" integrity="sha256-qM7QTJSlvtPSxVRjVWNM2OfTAz/3k5ovHOKmKXuYMO4=" crossorigin="anonymous"></script>