@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

.pageHeader {
    text-align: center;
}

.small-box {
    width: 100px;
}

body {
    margin-left: 50px;
    font-family: 'Syne Mono', monospace;
}


#story-list {
    width: 550px;
    text-align: center;
    margin-top: 50px;
}

#body{
    height: 400px;
}

#link {
    color: black;
}

#link:hover {
    color: #4DA8DA;
    text-decoration: none;
    font-size: 25px;
}

#link-new {
    background: #ffcdd2;
    color: black;
}

#link-new:hover {
    color: #4DA8DA;
    text-decoration: none;
    font-size: 25px;
}

#welcome-user {
    color: black;
    margin-left: 275px;
    font-size: 20px;
}

#logout {
    margin-left: 300px;
}

#welcome-container {
    text-align: center;
    margin-top: 15%;
}

.welcome-links {
    font-size: 20px;
    margin: 50px 50px 50px 50px;
    color: black;
}

.welcome-links:hover {
    color: #f2b36c;
    text-decoration: none;
    font-size: 35px;
    background: #90669e;
    padding: 10px 10px 10px 10px;
    border-radius: 50%;
}

body {
	background: linear-gradient(-45deg,	#f2dc59, #f2b36c, #e58c7a, #bb6896);
	background-size: 700% 700%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


p {
    border-right: solid 3px rgba(0,255,0,.75);
    white-space: nowrap;
    overflow: hidden;    
    font-size: 28px;
    color: #000000;
  }
  
  /* Animation */
  p {
    animation: animated-text 6s steps(29,end) 1s 1 normal both,
               animated-cursor 600ms steps(29,end) infinite;
  }
  
  /* text animation */
  
  @keyframes animated-text{
    from{width: 0;}
    to{width: 1800px;}
  }
  
  /* cursor animations */
  
  @keyframes animated-cursor{
    from{border-right-color: rgba(0,255,0,.75);}
    to{border-right-color: transparent;}
  }
  
  
  
  Resources