@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

.pageHeader {
    background: #e3f2fd;
}

.small-box {
    width: 100px;
}

body {
    margin-left: 50px;
    font-family: 'Syne Mono', monospace;
}


#story-list {
    width: 550px;
    text-align: center;
    margin-top: 50px;
}

#body{
    height: 400px;
}

#link {
    color: black;
}

#link:hover {
    color: #4DA8DA;
    text-decoration: none;
    font-size: 25px;
}

#link-new {
    background: #ffcdd2;
    color: black;
}

#link-new:hover {
    color: #4DA8DA;
    text-decoration: none;
    font-size: 25px;
}

#welcome-user {
    color: black;
    margin-left: 275px;
    font-size: 20px;
}

#logout {
    margin-left: 300px;
}

