<% if (currentUser) { %>
<button class="btn btn-primary" onclick="goBack()">Back to Series</button>

<h1><%=story.title%></h1>

<main><%=story.body%></main>

<script>
function goBack() {
  window.history.back();
}
</script>

  <% } else { %>
<h1>LOG IN TO SEE STORIES</h1>
  <% } %>