<%- include ('../../partials/nav.ejs') %>
<% if (currentUser) { %>
<button class="btn btn-primary" onclick="goBack()">Back to Series Home Page</button>

<h1><%=story.title%></h1>

<main><%=story.body%></main>
	
</div>

  <% } else { %>
    <button class="btn btn-primary" onclick="goBack()">Back to Series</button>
    <div class="card-panel teal lighten-2"><h1>YOU MUST LOG IN TO VIEW STORIES</h1></div>
    <% } %>
    
<script>
function goBack() {
  window.history.back();
}
</script>

